
#for(newTemp :newsList)
<a onclick="addReadCount('#(newTemp.articleId)')" href="#(ctx)/app/news/showDetail?newsId=#(newTemp.articleId)&tokenCode=#(tokenCode)">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img src="#(fs)#(newTemp.titleImageUrl)" alt="" class="img_01">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 activity_text">#(newTemp.title)</div>
            <!-- <div class="col-xs-2">
                <div style="color:#bbb;" class="glyphicon glyphicon-eye-open">
                </div>
                <span class="time">&nbsp;<span id="news_#(newTemp.articleId)">#(newTemp.readerNum)</span></span>
            </div> -->
        </div>
    </div>
    <div class="border"></div>
</a>
#end