/*ҳͷ*/
.header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #fff;
    color: #E51C23;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    padding: 0 15px;
}
.header .back{
    display: inline-block;
    color: #E51C23;
    width: 50px;
    line-height: 45px;
    height: 45px;
    font-weight: 100;
    text-align: left;
}
.header .search_box{
    display: inline-block;
    color: #fff;
    line-height: 45px;
    height: 45px;
    width: 50px;
    font-size: 18px;
    font-weight: normal;
}
.header .text{
    font-size: 14px;
    color: #6E6A6E;
}
#wrapper {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    overflow: hidden;
}
.nav{
    margin-top: 20px;
    text-align: center;
}
.nav .row{
    text-align: center;
}
.nav .row a p{
    text-align: center;
    height: 20px;
    line-height: 20px;
    color: #000;
    padding: 5px 0;
}
.col-xs-3 img{
    height: 50px;
}
.col-xs-4 img{
    width:100%;
}
.nav .col-xs-3 {
    padding-bottom: 16px;
}
.nav .interest_nav{
    color: #000;
    font-size: 14px;
}
.interext_text{
    background: #eee;
    margin: 0 15px;
}
.interext_title{
    font-size: 20px;
    color: #000;
}
.face img{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    margin: 0 auto;
}
.interext_creat{
    font-size: 14px;
    color: #1783D1;
}
.border{
    border-top: 1px solid #D7D8D9;
}
.view-title{
    font-size: 14px;
}
.view-text{
    font-size: 12px;
    color: #bbb;
}
.interest{
    font-size: 20px;
    color: #000;
    height: 41px;
    line-height: 41px;
}
.interest_cont{
    margin-top: 10px;
}
.border_01{
    border-top: 8px solid #D7D8D9;
}
.media p{
    font-size: 12px;
    color: #bbb;
}
.list{
    text-align: center;
    color: #000;
    margin-left: 45%;
}
.talk{
    display: block;
    margin: 20px 15px;
}
.img .media-object{
    width: 60px;
	height: 60px;
}
.creation img{
    width: 100%;
    height: 70px;
    background: #bbb;
}
.nav .title{
    font-size: 24px;
    color: #FC7F8E;
}
.nav .title0{
    font-size: 24px;
    color: #8ED59B;
}
.nav .title1{
    font-size: 24px;
    color: #FDCA82;
}
.nav .title2{
    font-size: 24px;
    color: #5AA0E9;
}
