
.lf{
    width:45px;
    height:45px;
    font-size:16px;
    color:#fff;
    float:left;
    line-height: 80px;
}
.act{
    color:#fff;
    line-height: 80px;
    font-size:16px;
    display: inline-block;
    margin-left:-24px;
}
#header input{
    width:50%;
    height:20px;
    border:1px solid #E7D3D5;
    background:rgba(0,0,0,.1);
    border-radius: 3px;
    text-indent:10px;
    margin-left:20px;
}
.more{
    width:45px;
    height:45px;
    font-size:16px;
    color:#fff;
    line-height: 80px;
}
.second{
    width:100%;
    height:200px;
    padding:20px;
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content:space-between;
}
.left{
    width:50%;
    height:160px;
    float:left;
}
.right{
    width:50%;
    height:160px;
    float:left;
    margin-left:4%;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-between;
}
.item{
    width:50%;
    text-align:center;
}
.pic{
    width:100%;
    height:100px;
}
#wrapper {
	position: absolute;
	z-index: 1;
	top: 80px;
	bottom: 48px;
	left: 0;
	width: 100%;
	background: #fff;
	overflow: hidden;
}
#header {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	line-height: 45px;
	background: url(images/2.png); 
	padding: 0;
	color: #eee;
	text-align: center;
}

#footer {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 48px;
	padding: 0;
	border-top: 1px solid #BBBBBB;
}
.second ul{
    list-style:none;
    padding:0;
    margin:0;
}
.tit{
    font-size:16px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
.info{
    font-size:12px;
    color:#ADADAD;
   
}
.lis{
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
.glyphicon-map-marker{
    color:#FF5959;
}
.border{
    border-top:1px solid #DEDEDE;
}
.name{
    font-size:16px;
    margin-left:20px 40px;
}
.row{
    width:100%;
    height:200px;
    padding:20px 40px;
}
.img_view{
    width:50%;
    height:120px;
    
}
ul{
    list-style:none;
}
.infor{width:50%}
.img-view{
    float:left;
}