#for(newTemp :newsList)
#if(newTemp.type == '0')
<div class="container">
    <!--图文-->
    <div class="p_cont">
        <a onclick="addReadCount('#(newTemp.articleId)')" href="#(ctx)/app/news/showDetail?newsId=#(newTemp.articleId)&tokenCode=#(tokenCode)">
            <div class="row">
                <div class="text">#(newTemp.title)</div>
            </div>
            <div class="row">
                #for(im :newTemp.imList)
                <div class="col-xs-4">
                    <img src="#(fs)#(im)/200/100" alt=""/>
                </div>
                #end
            </div>
            <div class="row data">
                <div class="col-xs-8 cont lf">
                    <div class="glyphicon glyphicon-eye-open lf">
                    </div>&nbsp;<span id="news_#(newTemp.articleId)">#(newTemp.readerNum)</span>
                </div>
                <div class="rt-4">#(newTemp.showTime)</div>
            </div>
        </a>
    </div>
</div>
#end
#if(newTemp.type == '1')
<div class="container">
    <div class="p_cont">
        <a onclick="addReadCount('#(newTemp.articleId)')" href="#(ctx)/app/news/showDetail?newsId=#(newTemp.articleId)&tokenCode=#(tokenCode)">
            <div class="row">
                <div class="col-xs-4">
                    #for(im :newTemp.imList)
                    <img src="#(fs)#(im)/200/100" alt=""/>
                    #end
                </div>
                <div class="col-xs-8">
                    <div class="row">
                        <p class="text1">#(newTemp.title)</p>
                    </div>
                    <div class="row data">
                        <div class="col-xs-8 cont lf">
                            <div class="glyphicon glyphicon-eye-open lf">
                            </div>&nbsp;<span id="news_#(newTemp.articleId)">#(newTemp.readerNum)</span>
                        </div>
                        <div class="rt-4">#(newTemp.showTime)</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
#end
<div class="border_01"></div>
#end