<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找一找</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="#(ctx)/static/mycenter/css/bootstrap.min.css">
    <link rel="stylesheet" href="#(ctx)/static/mycenter/css/public.css">
    <link rel="stylesheet" href="#(ctx)/static/mycenter/css/find.css">
    <style type="text/css">
        #scroller {
            position: absolute;
            z-index: 1;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            width: 100%;
            -webkit-transform: translateZ(0);
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-text-size-adjust: none;
            -moz-text-size-adjust: none;
            -ms-text-size-adjust: none;
            -o-text-size-adjust: none;
            text-size-adjust: none;
        }

        #pullDown,#pullUp,.pulldown-tips{
            height:40px;
            line-height:40px;
            text-align:center;
        }
        .pulldown-tips{
            position:absolute;
            top:-40px;
            left:0;
            width:100%;
        }
    </style>
</head>
<body  onload="loaded()">
    <div id="header">
        <form action="#(ctx)/app/member/toFind" id="personSearchForm" class="sel">
            <select id="orgSelect" name="orgId" style="border: 1px solid gray;" >
                <option value ="">全部单位</option>
                #for(org : orgs)
                    <option value ="#(org.orgId)">#(org.name)</option>
                #end
            </select>
            <input type="hidden" name="tokenCode" value="#(tokenCode)">
            <div class="search">
                <input type="text" class="form-control" placeholder="输入姓名查找" id="memberName" name="memberName" style="border: 1px solid gray;" value="#(memberName)">
            </div>
        </form>
        <a href="javascript:;" id="searchPerson" class="back">搜索</a>
        <a href="javascript:;" onclick="javascript :history.back(-1);" class="back">取消</a>
    </div>
    <div id="wrapper">
        <div id="scroller" >
            <ul class="focus" id="view">

            </ul>
            <div id="pullUp" class="">
                <div class="pullUpLabel" id="more" data-status="1">加载更多</div>
            </div>
        </div>
        <input type="hidden" id="page" value="1">
        <input type="hidden" id="size" value="10">
        <input type="hidden" id="orgId" value="#(orgId)">
    </div>
<script src="#(ctx)/static/js/jquery-1.11.3.js"></script>
<script src="#(ctx)/static/js/bootstrap.js"></script>
<script src="#(ctx)/static/js/jquery.flexslider.js"></script>
<script type="text/javascript" src="#(ctx)/static/js/iscroll.js"></script>
<script src="#(ctx)/static/js/iscroll-probe.js"></script>
<script src="#(ctx)/static/js/layer/2.4/layer.js"></script>
<script src="#(ctx)/static/js/common.js"></script>
<script type="text/javascript">
    //$("#page").val(1); //初始加载第一页
    $('.add_focus').click(function(){
        $('.glyphicon-plus-sign').attr('class','glyphicon-retweet');
    })
    var ctx = "#(ctx)";
    var fs = "#(fs)";
    var myScroll;
    var pullUp = $("#pullUp"), pullUpLabel = $(".pullUpLabel"), container = $('#view'), loadingStep = 0;//加载状态0默认，1显示加载状态，2执行加载数据，只有当为0时才能再次加载，这是防止过快拉动刷新
    function loaded () {
        pullUp.hide();
        myScroll = new IScroll('#wrapper', { scrollbars: false, mouseWheel: true, probeType: 2, click:true});
        myScroll.on("scroll",function(){
            if(loadingStep == 0 && !pullUp.attr("class").match('refresh')){
                if(this.y < (this.maxScrollY - 8)){//上拉加载更多
                    pullUp.addClass("refresh").show();
                    pullUpLabel.text("正在载入...");
                    loadingStep = 1;
                    pullUpAction();
                }
            }
        });
        function pullUpAction(){
            setTimeout(function(){
                loadNewPage(); //加载第一页
                myScroll.refresh();
                loadingStep = 0;
            },1000);
        }
    }
    document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
    $(document).ready(function(){
        $("#orgSelect option[value='#(orgId)']").prop("selected", 'selected');
        $("#searchPerson").on("click", function(){
            var memberName = $("#memberName").val();
            if(Public.isEmptyVal(memberName)){
                Public.notice("输入查找关键字");
                return;
            }
			$("#personSearchForm").submit();
        });
        //加载一次数据
		
		if($("#memberName").val()=='')
			{$("#memberName").val()="zb"}
		
		//alert($("#memberName").val());
        loadNewPage();
		
        //调用一下load方法
        //loaded();
		myScroll.refresh();
    });
    function loadNewPage(){
        $.post("#(ctx)/app/member/toFindPage/?tokenCode=#(tokenCode)",{
            "pageNumber": $("#page").val(),
            "pageSize": $("#size").val(),
            "orgId" : $("#orgId").val(),
            "memberName" : $("#memberName").val()
        },function (html) {
            $("#page").val(Number($("#page").val())+1);
            html = $.trim(html);
            if(html.length > 0){
                $("#view").append(html);
                pullUp.removeClass("refresh").hide();
            }else{
                pullUp.addClass("refresh").show(); //不再请求后台，页面显示全部加载完毕
                pullUpLabel.text("没有更多数据了");
            }
            myScroll.refresh();  //这个是用来重新刷新容器的
        });
    }
    //关注
    function clickFollow(userFollowId, div) {
        //点击之后就不能再点了
        $(div).removeAttr('onclick');
        $("#" + userFollowId + "_text").html("正在关注...");
        //进行关注请求后台
        $.ajax({
            type: "POST",
            url: "#(ctx)/app/culturalsquare/clickFollow?tokenCode=#(tokenCode)&userFollowId="+userFollowId,
            contentType: "application/json",
            data: {},
            datatype: "json",
            //成功返回之后调用的函数
            success: function (data) {
                var res = eval("(" + data + ")");
                if (res.result_code == "success") { //关注成功，则修改页面样式
                    //如果已经是关注我的人，则显示为胡想关注， 否则显示为已关注
                    var flag = $("#" +userFollowId + "_tips").val();
                    if(flag == "2"){
                        //则变化为相互关注
                        $(div).removeClass("add_focus").removeClass("glyphicon-plus-sign");
                        $(div).addClass("glyphicon-retweet");
                        $(div).removeAttr("style");
                        $(div).css("font-size", "16px").css("color", "#2D76E3");
                        $("#" + userFollowId + "_text").html("相互关注");
                    }else{
                        $(div).removeClass("add_focus").removeClass("glyphicon-plus-sign");
                        $(div).addClass("glyphicon-ok-circle");
                        $(div).removeAttr("style");
                        $(div).css("font-size", "16px");
                        $("#" + userFollowId + "_text").html("已关注");
                    }
                }
            },
            error: function () {
            }
        });
    }
</script>
</body>
</html>