#for(msg :messages)
<div id="div_#(msg.messageId)">
    <p class="time">#(msg.showAllTime)</p>
    <div class="text">
        <p>#(msg.orgName)的#(msg.memberName)给你留言了，去看看吧！</p>
        <p class="dele">
            <span style="color:#82789F;font-size:12px;" onclick="deleteMessage('#(msg.messageId)')" >删除</span>
            <span style="color:#3279E0"><a href="#(ctx)/app/member/toLeaveComments?userId=#(msg.userId)&tokenCode=#(tokenCode)" style="color:#3279E0">查看</a></span>
        </p>
    </div>
</div>
#end