<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的资料</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="#(ctx)/static/mycenter/css/bootstrap.min.css">
    <link rel="stylesheet" href="#(ctx)/static/mycenter/css/public.css">
    <link rel="stylesheet" href="#(ctx)/static/mycenter/css/info.css">
    <style>
        *{margin: 0;padding: 0;}
        li{list-style-type: none;}
        a,input{outline: none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
        #choose{display: none;}
        canvas{width: 100%;border: 1px solid #000000;}
        .touch{background-color: #ddd;}
        .img-list{margin: 10px 5px;}
        .img-list li{position: relative;display: inline-block;width: 100px;height: 100px;margin: 5px 5px 20px 5px;border: 1px solid rgb(100,149,198);background: #fff no-repeat center;background-size: cover;}
        .progress{position: absolute;width: 100%;height: 20px;line-height: 20px;bottom: 0;left: 0;background-color:rgba(100,149,198,.5);}
        .progress span{display: block;width: 0;height: 100%;background-color:rgb(100,149,198);text-align: center;color: #FFF;font-size: 13px;}
        .size{position: absolute;width: 100%;height: 15px;line-height: 15px;bottom: -18px;text-align: center;font-size: 13px;color: #666;}
        .tips{display: block;text-align:center;font-size: 13px;margin: 10px;color: #999;}
        .pic-list{margin: 10px;line-height: 18px;font-size: 13px;}
        .pic-list a{display: block;margin: 10px 0;}
        .pic-list a img{vertical-align: middle;max-width: 30px;max-height: 30px;margin: -4px 0 0 10px;}
    </style>
</head>
<body onload="loaded()">
    <div id="header">
        <a href="javascript:;" onclick="javascript :history.back(-1);" class="glyphicon glyphicon-menu-left back lf"></a>
        <span>我的资料</span>
    </div>
    <div id="wrapper">
        <div id="scroller" >
            <div class="info">
                <form method="post">
                    <ul>
                        <li style="height:100px;line-height:100px">头像
                            <img id="upload" src="#(fs)#(user.logo)" alt="" class="right">
                            <input type="file" id="choose" accept="image/*" multiple>
                        </li>
                        <div class="border"></div>
                        <li>姓名<span class="right">#(user.memberName)</span></li>
                        <div class="border"></div>
                        <li>单位<span class="right">#(user.orgName)</span></li>
                        <div class="border"></div>
                        <!--<li>身份证<span class="right">#(user.showIdCard)</span></li>
                        <div class="border"></div>-->
                        #if(user.sex == 0)
                            <li>性别<span class="right">女</span></li>
                        #end
                        #if(user.sex == 1)
                        <li>性别<span class="right">男</span></li>
                        #end
                        <div class="border"></div>
                        <li onclick="changeBirthday()">生日<span class="right">#(user.birthday)<span class="glyphicon glyphicon-chevron-right edit"></span></span></li>
                        <div class="border"></div>
                        <li onclick="changePhone()">手机<span class="right" style="color:#827F98">#(user.showMemberAccount)<span class="glyphicon glyphicon-chevron-right edit"></span></span></li>
                        <div class="border"></div>
                        <li onclick="changeWeiXin()">微信<span class="right">#(user.weixin)<span class="glyphicon glyphicon-chevron-right edit"></span></span></li>
                        <div class="border"></div>
                        <li onclick="changePasswd()">密码<span class="right">********<span class="glyphicon glyphicon-chevron-right edit"></span></span></li>
                        <div class="border"></div>
                        #if(user.refuseMessage == 0)
                            <li>拒绝留言<span class="right"><input onclick="refuseMessage();" type="checkbox" checked="checked" id="refuseStatus" /></span></li>
                        #end
                        #if(user.refuseMessage == 1)
                            <li>拒绝留言<span class="right"><input onclick="refuseMessage();" type="checkbox" id="refuseStatus" /></span></li>
                        #end
                        <div class="border"></div>
                    </ul>
                </div>
                <div class="upd">
                    <!--#if(user.sex == 1)
                        <button class="save" style="background: #3FA7B5;" >保存修改</button>
                    #end
                    #if(user.sex == 0)
                        <button class="save" style="background: #FC4482;" >保存修改</button>
                    #end-->
                    <button class="chache">清除缓存</button>
                </div>
            </form>
        </div>
    </div>
<script src="#(ctx)/static/mycenter/js/jquery.min.js"></script>
<script src="#(ctx)/static/js/ajaxfileupload.js"></script>
<script src="#(ctx)/static/js/layer/2.4/layer.js"></script>
<script src="#(ctx)/static/js/common.js"></script>
<script src="#(ctx)/static/js/jroll.js"></script>

<script type="text/javascript">
        var myScroll;
       function loaded () {
        myScroll = new JRoll('#wrapper');
       }
       document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
    $(document).ready(function () {
        $("#clearCache").click(function () {
            location.href = '#(ctx)/clearCache';
        });
    });
    /**修改密码*/
    function changePasswd() {
        location.href =  '#(ctx)/app/member/toChangePasswd?tokenCode=#(tokenCode)';
    }
    /**修改微信*/
    function changeWeiXin() {
        location.href =  '#(ctx)/app/member/toChangeWeiXin?tokenCode=#(tokenCode)';
    }
    /**修改手机*/
    function changePhone() {
        location.href =  '#(ctx)/app/member/toChangePhone?tokenCode=#(tokenCode)';
    }
    /**修改生日*/
    function changeBirthday() {
        location.href =  '#(ctx)/app/member/toChangeBirthday?tokenCode=#(tokenCode)';
    }
    /**拒绝留言*/
    function refuseMessage(){
        //获得复选框的选中状态
        var checkstatus = "";
        if($('#refuseStatus').is(':checked')) {
            checkstatus = 0;
        }else{
            checkstatus = 1;
        }
        $.ajax({
            type: "POST",
            url: "#(ctx)/app/member/refuseMessage/",
            data: {
                tokenCode : '#(tokenCode)',
                refuseMessage : checkstatus
            },
            datatype: "json",
            //成功返回之后调用的函数
            success: function (data) {
                var res = eval("(" + data + ")");
                if (res.result_code == "success") { //点在成功，则修改页面样式
                    Public.notice("更新留言设置成功！");
                }else{
                    Public.notice(res.result_msg);
                }
            },
            error: function () {
                Public.notice("留言设置失败");
            }
        });
    }
</script>
<script>
    var filechooser = document.getElementById("choose");
    //    用于压缩图片的canvas
    var canvas = document.createElement("canvas");
    var ctx = canvas.getContext('2d');
    //    瓦片canvas
    var tCanvas = document.createElement("canvas");
    var tctx = tCanvas.getContext("2d");
    var maxsize = 100 * 1024;
    $("#upload").on("click", function() {
        filechooser.click();
    }).on("touchstart", function() {
        $(this).addClass("touch")
    })
        .on("touchend", function() {
            $(this).removeClass("touch")
        });
    filechooser.onchange = function() {
        if (!this.files.length) return;
        var files = Array.prototype.slice.call(this.files);
        if (files.length > 1) {
            Public.notice("只能上传一张图片")
            return;
        }
        files.forEach(function(file, i) {
            if (!/\/(?:jpeg|png|gif)/i.test(file.type)) return;
            var reader = new FileReader();
            //获取图片大小
            var size = file.size / 1024 > 1024 ? (~~(10 * file.size / 1024 / 1024)) / 10 + "MB" : ~~(file.size / 1024) + "KB";
            reader.onload = function() {
                var result = this.result;
                var img = new Image();
                img.src = result;
                //图片加载完毕之后进行压缩，然后上传
                if (img.complete) {
                    callback();
                } else {
                    img.onload = callback;
                }
                function callback() {
                    var data = compress(img);
                    upload(data, file.type);
                    img = null;
                }
            };
            reader.readAsDataURL(file);
        })
    };
    //    使用canvas对大图片进行压缩
    function compress(img) {
        var initSize = img.src.length;
        var width = img.width;
        var height = img.height;
        //如果图片大于四百万像素，计算压缩比并将大小压至400万以下
        var ratio;
        if ((ratio = width * height / 4000000) > 1) {
            ratio = Math.sqrt(ratio);
            width /= ratio;
            height /= ratio;
        } else {
            ratio = 1;
        }
        canvas.width = width;
        canvas.height = height;
        //铺底色
        ctx.fillStyle = "#fff";
        ctx.fillRect(0, 0, canvas.width, canvas.height);
        //如果图片像素大于100万则使用瓦片绘制
        var count;
        if ((count = width * height / 1000000) > 1) {
            count = ~~(Math.sqrt(count) + 1); //计算要分成多少块瓦片
            //计算每块瓦片的宽和高
            var nw = ~~(width / count);
            var nh = ~~(height / count);
            tCanvas.width = nw;
            tCanvas.height = nh;
            for (var i = 0; i < count; i++) {
                for (var j = 0; j < count; j++) {
                    tctx.drawImage(img, i * nw * ratio, j * nh * ratio, nw * ratio, nh * ratio, 0, 0, nw, nh);
                    ctx.drawImage(tCanvas, i * nw, j * nh, nw, nh);
                }
            }
        } else {
            ctx.drawImage(img, 0, 0, width, height);
        }
        //进行最小压缩
        var ndata = canvas.toDataURL('image/jpeg', 0.1);
        console.log('压缩前：' + initSize);
        console.log('压缩后：' + ndata.length);
        console.log('压缩率：' + ~~(100 * (initSize - ndata.length) / initSize) + "%");
        tCanvas.width = tCanvas.height = canvas.width = canvas.height = 0;
        return ndata;
    }
    //    图片上传，将base64的图片转成二进制对象，塞进formdata上传
    function upload(basestr, type) {
        $.post("#(ctx)/upl/uploadBase64/",{fileData:basestr,fileType:8,ext:".jpg"},function (data) {
            $("#upload").attr("src",data.data.filePath);
            //在这里要发一个请求更新用户的头像，在用户表中
            $.post("#(ctx)/app/member/updateMemberLogo/",{userId:'#(user.memberId)',imagePath:data.data.filePath,tokenCode:'#(tokenCode)'},function (data) {});
        });
    }
    /**
     * 获取blob对象的兼容性写法
     * @param buffer
     * @param format
     * @returns {*}
     */
    function getBlob(buffer, format) {
        try {
            return new Blob(buffer, {type: format});
        } catch (e) {
            var bb = new (window.BlobBuilder || window.WebKitBlobBuilder || window.MSBlobBuilder);
            buffer.forEach(function(buf) {
                bb.append(buf);
            });
            return bb.getBlob(format);
        }
    }
    /**
     * 获取formdata
     */
    function getFormData() {
        var isNeedShim = ~navigator.userAgent.indexOf('Android')
            && ~navigator.vendor.indexOf('Google')
            && !~navigator.userAgent.indexOf('Chrome')
            && navigator.userAgent.match(/AppleWebKit\/(\d+)/).pop() <= 534;
        return isNeedShim ? new FormDataShim() : new FormData()
    }
    /**
     * formdata 补丁, 给不支持formdata上传blob的android机打补丁
     * @constructor
     */
    function FormDataShim() {
        console.warn('using formdata shim');
        var o = this,
            parts = [],
            boundary = Array(21).join('-') + (+new Date() * (1e16 * Math.random())).toString(36),
            oldSend = XMLHttpRequest.prototype.send;
        this.append = function(name, value, filename) {
            parts.push('--' + boundary + '\r\nContent-Disposition: form-data; name="' + name + '"');
            if (value instanceof Blob) {
                parts.push('; filename="' + (filename || 'blob') + '"\r\nContent-Type: ' + value.type + '\r\n\r\n');
                parts.push(value);
            }
            else {
                parts.push('\r\n\r\n' + value);
            }
            parts.push('\r\n');
        };
        // Override XHR send()
        XMLHttpRequest.prototype.send = function(val) {
            var fr,
                data,
                oXHR = this;
            if (val === o) {
                // Append the final boundary string
                parts.push('--' + boundary + '--\r\n');
                // Create the blob
                data = getBlob(parts);
                // Set up and read the blob into an array to be sent
                fr = new FileReader();
                fr.onload = function() {
                    oldSend.call(oXHR, fr.result);
                };
                fr.onerror = function(err) {
                    throw err;
                };
                fr.readAsArrayBuffer(data);
                // Set the multipart content type and boudary
                this.setRequestHeader('Content-Type', 'multipart/form-data; boundary=' + boundary);
                XMLHttpRequest.prototype.send = oldSend;
            }
            else {
                oldSend.call(this, val);
            }
        };
    }
</script>
</body>
</html>