<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改手机号码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="#(ctx)/static/css/bootstrap.css">
    <link rel="stylesheet" href="#(ctx)/static/css/send.css">
    <style>
        button{
            display:inline;
            width:30%;
            height:30px;
            font-size: 14px;
            color:#fff;
            background:#FF4081;
            text-align: center;
            border-radius: 5px;
            border:none;
        }
        html,body{height:100%}
    </style>
</head>
<body onload="loaded()">
<div id="header" style="background: #F8F8F8;">
    <a href="javascript:;" id="goback" onclick="javascript :history.back(-1);" class="glyphicon glyphicon-menu-left back lf" style="color: #484448;"></a>
    <span style="color: #000000;">修改手机号码</span>
</div>
<div id="wrapper">
    <div id="scroller" >
        <div style="padding-top: 30px;">
            <input type="text" id="phoneNumber" name="phoneNumber" class="act_name" placeholder="新手机号码" value="" maxlength="11" style="margin-bottom: 1px;margin-left: 30px;" />
            <input type="text" id="validateCode" name="validateCode" placeholder="验证码" class="address" style="width: 48%;margin-left: 30px;margin-top: 10px;">
            #if(currentUser.sex == 1)
                <button style="background: #3FA7B5;" onclick="validCode(this);">获取验证码</button>
            #end
            #if(currentUser.sex == 0)
                <button style="background: #FC4482;" onclick="validCode(this);">获取验证码</button>
            #end
            <input type="text" id="idCard" name="idCard" class="act_name" placeholder="身份证号" value="" maxlength="18" style="margin-bottom: 1px;margin-left: 30px;" />
        </div>
    </div>
    <div id="footer">
        #if(currentUser.sex == 1)
            <div class="send" style="background: #3FA7B5;"><a href="#" onclick="changePhoneNumber();">修改手机号码</a></div>
        #end
        #if(currentUser.sex == 0)
            <div class="send" style="background: #FC4482;"><a href="#" onclick="changePhoneNumber();">修改手机号码</a></div>
        #end
    </div>
</div>
<script src="#(ctx)/static/mycenter/js/jquery.min.js"></script>
<script src="#(ctx)/static/mycenter/js/iscroll.js"></script>
<script src="#(ctx)/static/js/layer/2.4/layer.js"></script>
<script src="#(ctx)/static/js/common.js"></script>
<script>
    // $('input').focus(function(){
    //     $('#footer').css('position','static');
    // }).blur(function(){
    //     $('#footer').css({'position':'fixed','bottom':'0'});
    // });
    var wContact=$('body').height()-$('#scroller').outerHeight();
    var w=wContact+80;
    $('#footer').css('top',w);
</script>
<script type="text/javascript">
    var myScroll;
    function loaded () {
        myScroll = new IScroll('#wrapper', { mouseWheel:true,click:true});
    }
    document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
    //短信后倒计时
    var countdown=60;
    function settime(obj) {
        if (countdown == 0) {
            $(obj).attr("disabled",false);
            $(obj).attr("mark","1");
            $(obj).html("获取验证码");
            countdown = 60;
            return;
        } else {
            $(obj).attr("disabled", true);
            $(obj).attr("mark","0");
            $(obj).html("重新发送(" + countdown + ")");
            countdown--;
        }
        setTimeout(function() { settime(obj) } ,1000)
    }
    function validCode(btn){
        var phone = $("#phoneNumber").val();
        var myreg = /^(((13[0-9]{1})|(14[0-9]{1})|(17[0]{1})|(15[0-3]{1})|(15[5-9]{1})|(18[0-9]{1}))+\d{8})$/;
        if(phone == ''){
            Public.notice("手机号码不能为空");
            return;
        }
        if(phone.length !=11){
            Public.notice("请输入有效的手机号码");
            return;
        }
        if(!myreg.test(phone)){
            Public.notice("请输入有效的手机号码");
            return;
        }
        settime(btn);
        //请求验证
        $.ajax({
            type: "POST",
            url: "#(ctx)/app/validCode/",
            data: JSON.stringify({
                tokenCode : '#(tokenCode)',
                data : {
                    phoneNum : phone,
                    modelType : 1
                }
            }),
            datatype: "json",
            //成功返回之后调用的函数
            success: function (data) {
                if (data.code == "200") {
                    Public.notice("验证码发送成功");
                }else{
                    Public.notice(data.message);
                }
            },
            error: function () {
                Public.notice("修改手机号码失败");
            }
        });
    }
    function changePhoneNumber(){
        var phoneNumber = $("#phoneNumber").val();
        var validateCode = $("#validateCode").val();
        var phonereg = /^(((13[0-9]{1})|(14[0-9]{1})|(17[0]{1})|(15[0-3]{1})|(15[5-9]{1})|(18[0-9]{1}))+\d{8})$/;
        var codereg = /^(\d{6})$/;
        if(phoneNumber == ''){
            Public.notice("手机号码不能为空");
            return;
        }
        if(phoneNumber.length !=11){
            Public.notice("请输入有效的手机号码");
            return;
        }
        if(!phonereg.test(phoneNumber)){
            Public.notice("请输入有效的手机号码");
            return;
        }
        if(validateCode == ''){
            Public.notice("短信验证码不能为空");
            return;
        }
        if(validateCode.length != 6){
            Public.notice("请输入有效短信验证码");
            return;
        }
        if(!codereg.test(validateCode)){
            Public.notice("请输入有效短信验证码");
            return;
        }
        var idCard = $("#idCard").val();
        // if(Public.notEmptyVal(idCard)){
            if(idCard == ''){
            Public.notice("身份证号不能为空");
            return;
        }
        if(idCard.length != 15 && idCard.length != 18){
            Public.notice("请输入有效身份证号");
            return;
        }
        //必须是纯数字，并且符合手机号码规范
        $.ajax({
            type: "POST",
            url: "#(ctx)/app/member/changePhone/",
            data: {
                tokenCode : '#(tokenCode)',
                phoneNumber : phoneNumber,
                idCard : idCard,
                validateCode : validateCode
            },
            datatype: "json",
            success: function (data) {
                var res = eval("(" + data + ")");
                if (res.result_code == "success") {
                    Public.notice("修改手机号码成功");
                    setTimeout(function(){
                        document.location.href = '#(ctx)/app/member/myInfo?tokenCode=#(tokenCode)';
                    }, 1000);
                }else{
                    Public.notice(res.result_msg);
                }
            },
            error: function () {
                Public.notice("修改手机号码失败");
            }
        });
    }
    #(msgTips)
    
</script>

</body>
</html>