<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统帮助</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="#(ctx)/static/mycenter/css/bootstrap.min.css">
    <link rel="stylesheet" href="#(ctx)/static/mycenter/css/public.css">
    <link rel="stylesheet" href="#(ctx)/static/mycenter/css/focus.css">
    <style>
        #scroller{
            width:90%;
            margin:0 auto;
            text-align:justify;
            padding-bottom:50px;
        }
        h3{text-align:center;}
        img{
            display:block;
            width:90%;
            margin:10px auto;
        }
    </style>
</head>
<body  onload="loaded()">
<div id="header">
    <a href="javascript:;" onclick="javascript :history.back(-1);" class="glyphicon glyphicon-menu-left back lf"></a>
    <span>系统帮助</span>
</div>
<div id="wrapper">
    <div id="scroller" >
        <h3>“平安是福”APP用户使用手册（正式版）</h3>
        <p>一、激活和登陆</p>
        <p>1.下载“平安是福APP”，进入平安是福首页。如不是最新版本将显示不能登录，请按照提示下载最新版本。首次登陆请点击左下角“激活”，按要求输入身份证号码、手机号，进行激活并设置密码。激活后，输入手机号、密码，即可登录成功，进入平安是福APP。如无法激活，请联系本单位工会。</p>
        <p>2.如忘记密码：点击右下角忘记密码，填写手机号，并获取验证码，获得密码。</p>
        <img src="#(ctx)/static/img/1.jpg" alt="">   
        <img src="#(ctx)/static/img/2.jpg" alt="">    
        <img src="#(ctx)/static/img/3.jpg" alt="">    
        
        <p>二、使用</p>
        <p>（一）、主页</p>
        <p>1.用户可点击新视点、主力军、公告栏、基层风、专题活动等栏目，浏览每个板块下的新闻资讯；【风采展示】下设本周吸票王、本月吸票王，为文化广场中受点赞最多的作品展示；【投票调查】用户可对发起的投票进行填写。</p>
        <p>2.【家园美】用户可上传站区照片和人文风光介绍。在第一行选择站区，点击更多查阅站区照片和人文风光；选择好站区后，点击投稿可对该站区投稿，投稿分为“我的站区”和“人文风光”两个栏目，仅可投文字和照片，后台审核通过后上传作品将在家园美栏目公布。</p> 
        <img src="#(ctx)/static/img/4.jpg" alt="">    
        <img src="#(ctx)/static/img/5.jpg" alt="">    
        
        <p>3.【知识苑】下设三个板块，学习园地：可供用户学习各类政策知识；视频课堂可浏览视频课程；在线答题可进行在线考试，每名用户对同一试卷只能答题一次，答完题后可查询答题分数和正确答案。</p>
        <p>4.【读书咖】中点击图书馆可按分类选择所需书籍，选择加入书架，下载完毕后点击浏览阅读。</p>
        <p>5.【健步走】点击进入查看当前个人健步情况和排行榜。为确保计数准确，健步走必须向APP开放允许后台运行的权限，并在清理时不要将程序清理掉。下面列举部分手机操作方法：</p>
        <p>一是华为手机：老系统请在【设置】中开放【开机自动启动】权限；新系统请在【手机管家】中开放【权限管理】、【自启管理】、【锁屏清理应用】三项权限。</p>
        <p>二是三星手机：请在【智能管理器】-【内容】-【自启动应用程序】中开放自动运行权限；</p>
        <p>三是小米手机：请在【安全中心】-【授权管理】-【自启动管理】中开放自动运行权限；</p>
        <p>四是Vivo手机：请在【设置】-【软件管理】-【自启动管理】中开放自动运行权限；</p>
        <p>五是其他安卓用户都可以在手机设置中找到开机自动启动的选项，具体方法可上网自行查找。</p>
        <p>六是使用360卫士、百度卫士、LBE安全大师等第三方手机管家的，请将app列入清理加速的白名单内。</p>
        <p>七是安卓用户用右键清理程序时，请将APP卡片右上角锁上，确保不背清理，避免计数误差。</p>
        <p>八是苹果IOS系统用户，请在每日结束走路后，上传计步数据（打开app即可）。</p>
        <p>（二）文化广场</p>
        <p>该板块中，用户可将自己制作的文字、图片和视频作品发布上去，并查看其他人的作品，每个单位设管理员进行审核。并开设兴趣部落、职工活动、风采投稿、我的关注四个栏目。</p>
        <p>1.【兴趣部落】可查看全部兴趣部落。申请部落选择部落类型，在点击所选部落后点击下一步，可上传自己部落的LOGO和名称介绍。提交审核，后台通过后完成创建。</p>
        <img src="#(ctx)/static/img/6.png" alt="">    
        <img src="#(ctx)/static/img/7.jpg" alt="">    
        <img src="#(ctx)/static/img/8.jpg" alt="">    
        
        <p>2.【职工活动】用户可以自己发起或查看他人发起的活动，可根据活动日历选择参加各项活动。</p>
         <p>3.【风采投稿】用户向文化广场投稿的入口，可选择图片或视频投稿。选择图文后填写标题、内容、点击“＋”可上传图片作品。选择视频后填写标题、内容、点击“＋”可上传视频作品或选择“输入URL”添加视频地址。该栏目仅接受用户关于职工文体才艺等内容的投稿，请勿上传违反相关法律法规和纪律规定的作品。文化广场每个作品的右上角设置举报按钮，每个用户可对违规作品进行举报，后台将进行处理。</p>
        <img src="#(ctx)/static/img/9.jpg" alt="">    
        <img src="#(ctx)/static/img/10.jpg" alt="">    
        <img src="#(ctx)/static/img/11.png" alt="">   
        <p>4.【我的关注】展示我关注的人上传的作品。关注他人的办法为点击要关注的人头像进入他的主页，点击右上角即可进行关注，点击主页的留言即可进行留言。如不想接受他人留言，请在【我的】-【资料设置】中勾选【拒绝留言】。</p>
        <p>（三）我的</p>
        <p>该板块为个人信息和系统功能板块。【签到】可每日签到，增加福豆；【我的关注】会显示关注的作品；【我的粉丝】可查看粉丝个人展示并进行关注；【我的消息】可查看系统通知和留言；【找一找】可查找全集团公司职工；【我的展示】可查看自己已发过的作品；【我的福豆】可看到自己积分情况；【审核举报】仅对部分拥有审核权限的用户开放；【资料设置】上传头像，显示个人信息，修改微信、电话、生日等资料；【系统帮助】存放帮助文件。</p>
        <p>（四）工会矩阵</p>
        <p>该板块为各单位主页，点击【我的单位】以最快方式进入本单位页面，在分系统的可查看其它单位页面。</p>
        <p>（五）发现</p>
        <p>该板块为各项福利活动栏目。</p>
            
    </div>
</div>
<script src="#(ctx)/static/mycenter/js/jquery.min.js"></script>
<script src="#(ctx)/static/js/jroll.js"></script>
<script type="text/javascript">
    var myScroll;
    function loaded () {
        //myScroll = new IScroll('#wrapper', { mouseWheel:true,click:true});
      myScroll = new JRoll('#wrapper');
    }
    document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
</script>
</body>
</html>