<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <title>#(columnName)</title>
    <link rel="stylesheet" href="#(ctx)/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="#(ctx)/static/css/flexslider.css"/>
    <link rel="stylesheet" href="#(ctx)/static/css/public.css"/>
    <link rel="stylesheet" href="#(ctx)/static/css/navigation_second.css"/>
    <link rel="stylesheet" href="#(ctx)/static/css/index.css"/>
    <link rel="stylesheet" href="#(ctx)/static/css/lightbox.css"/>
    <style>

        .container .pics{
            width:33.33333333%;
            float:left;
            padding:20px 1.6%;
            border-bottom: #eee solid 1px;
        }
        .pics img{
            width:100%;
            height: 78px;
        }
        .lightbox .lb-image{
            border:1px solid #fff;
        }
        .report a{color:#fff;z-index:2222;font-size:12px;}
       .report{padding:10px;float:right;}
    </style>
</head>
<body onload="loaded()">
    <!--页头-->
    <div class="header">
        <a href="javascript:;" onClick="javascript :history.back(-1);" class="glyphicon glyphicon-menu-left back lf"></a>
        <span style="position:absolute;left:50%;margin-left:-2em">#(columnName)</span>
        <span style="position:absolute;right:3%;font-size: 14px;"><!--#(stationName)--></span>
    </div>
    <div id="wrapper">
        <div id="scroller">
            <div class="info" id="view">

            </div>
            <div id="pullUp" class="">
                <div class="pullUpLabel" id="more" data-status="1">加载更多</div>
            </div>
        </div>
        <input type="hidden" id="page" value="1">
        <input type="hidden" id="size" value="10">
        <input type="hidden" name="columnId" id="columnId" value="#(columnId)">
        <input type="hidden" name="columnName" id="columnName" value="#(columnName)">
        <input type="hidden" name="stationName" id="stationName" value="#(stationName)">
        <input type="hidden" name="stationId" id="stationId" value="#(stationId)">
    </div>
</body>
<script src="#(ctx)/static/js/jquery-1.11.3.js"></script>
<script src="#(ctx)/static/js/bootstrap.js"></script>
<script src="#(ctx)/static/js/jquery.flexslider.js"></script>
<script type="text/javascript" src="#(ctx)/static/js/iscroll.js"></script>
<script src="#(ctx)/static/js/jroll.js"></script>
<script src="#(ctx)/static/js/common.js"></script>
<script src="#(ctx)/static/js/index.js"></script>
<script src="#(ctx)/static/js/lightbox1.js"></script>
<script type="text/javascript">
    $("#page").val(1); //初始加载第一页
    var ctx = "#(ctx)";
    var fs = "#(fs)";
    var myScroll;
    var pullUp = $("#pullUp"), pullUpLabel = $(".pullUpLabel"), container = $('#view'), loadingStep = 0;//加载状态0默认，1显示加载状态，2执行加载数据，只有当为0时才能再次加载，这是防止过快拉动刷新
    function loaded () {
        pullUp.hide();
        //myScroll = new IScroll('#wrapper', { scrollbars: false, mouseWheel: true, probeType: 2, click:true});
		myScroll = new JRoll('#wrapper');
        myScroll.on("scroll",function(){
            if(loadingStep == 0 && !pullUp.attr("class").match('refresh')){
                if(this.y < (this.maxScrollY - 8)){//上拉加载更多
                    pullUp.addClass("refresh").show();
                    pullUpLabel.text("正在载入...");
                    loadingStep = 1;
                    pullUpAction();
                }
            }
        });
        function pullUpAction(){
            setTimeout(function(){
                loadNewPage(); //加载第一页
                myScroll.refresh();
                loadingStep = 0;
            },1000);
        }
    }
    document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
    $(document).ready(function(){
        //加载一次数据
        loadNewPage();
        //调用一下load方法
        loaded();
    });
    function loadNewPage(){
        $.post("#(ctx)/app/station/businessDetailPage/?tokenCode=#(tokenCode)",{
            "pageNumber": $("#page").val(),
            "pageSize": $("#size").val(),
            "columnName": $("#columnName").val(),
            "columnId": $("#columnId").val(),
            "stationName": $("#stationName").val(),
            "stationId": $("#stationId").val()
        },function (html) {
            $("#page").val(Number($("#page").val())+1);
            html = $.trim(html);
            if(html.length > 0){
                $("#view").append(html);
                pullUp.removeClass("refresh").hide();
            }else{
                pullUp.addClass("refresh").show(); //不再请求后台，页面显示全部加载完毕
                pullUpLabel.text("没有更多数据了");
            }
            myScroll.refresh();  //这个是用来重新刷新容器的
        });
    }
    lightbox.option({
        'imageFadeDuration':200,
        'resizeDuration': 100,
        'wrapAround': true,
        'albumLabel':'%1 / %2',
        'positionFromTop':60
    })
</script>
</html>