#myTab{
    width:80%;
    height:45px;
    line-height:45px;
    text-align: center;
    margin:0 auto;
}
#myTab li{
    width:50%;
    float: left;
}
#myTab a{
    display:inline-block;
    width:100%;
    height:45px;
}
#myTab .active{
    border-bottom:2px solid #E51C23;
}
#myTabContent .time{
    width:100%;
    text-align: center;
    color:#E6EBF3;
    font-size:12px;
    margin-top:35px;
}
#myTabContent .text{
    width:90%;
    margin:0 auto;
    background: #F7F7F7;
    padding:10px 10px 5px;
    border-radius: 5px;
}
#myTabContent .dele{
    display:flex;
    justify-content: space-between;
}