#footer form{
    height:45px;
    line-height: 45px;
}
#footer input{
    width:70%;
    height:30px;
    line-height:30px;
    border-radius: 5px;
    padding-left:10px;
    border:1px solid #BBBBBB;
    margin-left:2%
}
#footer .send{
    width:20%;
    height:30px;
    line-height:30px;
    border:1px solid #BBBBBB;
    border-radius: 5px;
    background: #fff;
}
#scroller{
    padding:20px;
}
/* 聊天气泡 */
/* bubble style */
.sender{
    clear:both;
}
.sender div:nth-of-type(1){
    float: left;
}
.sender div:nth-of-type(2){
    background-color: #EEEEEE;
    float: left;
    width:80%;
    margin: -45px 20px 10px 65px;
    padding: 10px 10px 10px 0px;
    border-radius:7px;
}

.receiver div:first-child img,
.sender div:first-child img{
    width:50px;
    height: 50px;
    border-radius:50%;
}

.receiver{
    clear:both;
}
.receiver div:nth-child(1){
    float: right;
}
.receiver div:nth-of-type(even){
    float:right;
    width:80%;
    background-color: #A8F7F7;
    margin: -50px 65px 10px 20px;
    padding: 10px 0px 10px 10px;
    border-radius:7px;
}

.left_triangle{
    height:0px;  
    width:0px;  
    border-width:8px;  
    border-style:solid;  
    border-color:transparent #EEEEEE transparent transparent;  
    position: relative;
    left:-16px;
    top:3px;
}

.right_triangle{
    height:0px;  
    width:0px;  
    border-width:8px;  
    border-style:solid;  
    border-color:transparent transparent transparent #A8F7F7;  
    position: relative;
    right:-16px;
    top:3px;
}
.sender,.receiver{
    height:110px;
    padding-top:20px;

}
p{
    text-align:center;
    color:#BBB;
    margin-top:-18px;
}